

@keyframes glitch {
    0% {
      transform: translate(0, 8px);
    }


    50% {
        transform: translate(0, 0px);
    }


    100% {
        transform: translate( 0px, 8px);
    }
  }
  
  body {
    font-family: 'Press Start 2P', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.imgur.com/3EbPD84.jpg'); /* Use the direct URL to your image */
    background-size: 125%;
    background-repeat: no-repeat;
    animation: glitch 4s infinite ease-in-out; /* Apply the glitch animation */
  }
  
  
  /* Container */
  .container {
    background-color: #ffffff; /* Windows XP window background color */
    border: 1px solid #000000; /* Window border */
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Window shadow */
    margin: 20px auto;
    max-width: 700px; /* Adjust the width as needed */
    padding: 20px;
  }
  
  #h1Container {
    padding: 10px;
    background-color: #000080; /* Blue title bar color */
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
  }

  #Dots {
    width: 1px;
  }
  /* Title Bar (Header) */
  h1 {
    color: #ffffff; /* Text color on title bar */
    margin: 0;
    text-align: center;
    justify-content: center;
  }
  
  /* Input and Button */
  input[type="text"] {
    padding: 10px;
    width: 75%;
    border: 1px solid #000000; /* Input border */
    height: 20%;
    font-family: 'Press Start 2P', Arial, sans-serif;

  }
  
  button {
    box-sizing: border-box;
    background-color: #000080; /* Blue title bar color */
    color: #ffffff;
    padding: 10px 20px;
    height: 20%;

    border: none;
    font-family: 'Press Start 2P', Arial, sans-serif;
    cursor: pointer;
  }
  
  /* Weather Info */
  #weatherInfo {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .hidden {
    display: none;
  }
  
  #loading {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    /* Add additional styles as needed */
  }
  